@use "../../styles/common.scss";
@use "../../styles/themes";

.category {
	margin: 0 0 16px 0;

	&:last-child {
		margin: 0;
	}

	&__title {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		margin: 0 0 12px 0;
	}

	&__body {
	}
}

@include themes.themify(themes.$themes) {
	.category {
		&__title {
			color: themes.themed('text-color-subtle');
		}
	}
}